.popout-pronouns.hover {
	font-size: 22px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: center;
}

.popout-pronouns.hover .text {
	font-size: 13px;
	text-transform: capitalize;

	opacity: 0;
	width: auto;
	text-align: center;
	padding: 5px;
	border-radius: 6px;

	height: 0;

	transition: opacity 0.3s ease,
		height 0.17s ease;
}

.popout-pronouns.hover:hover .text {
	opacity: 1;
	height: 20px;
}

.popout-pronouns:not(.hover) {
	font-size: 13px;
	text-transform: capitalize;
	text-align: center;
	padding: 5px;
}